/* Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, 
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { 
  background-color: #FF9; 
  text-decoration: none;
  color: #000; 
}

mark { 
  background-color: #FF9; 
  font-style: italic; 
  font-weight: bold; 
  color: #000; 
}

del { text-decoration: line-through; }

abbr[title], dfn[title] { 
  border-bottom: 1px dotted; 
  cursor: help; 
}

table { border-collapse: collapse; border-spacing: 0; }

hr { 
  display: block; 
  height: 1px; 
  border: 0; 
  border-top: 1px solid #CCC; 
  margin: -1px 0; 
  padding: 0; 
}

input, select { vertical-align: middle; }


/* Base styles */

html { overflow-y: scroll; -webkit-text-size-adjust: none; }

body { 
  font: 12px/18px sans-serif; 
  *font-size: small; 
  text-rendering: optimizeLegibility;
}

body, select, input, textarea { color: #444; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

ul, ol { margin-left: 2em; }

ol { list-style-type: decimal; }

nav ul, nav li { 
  margin: 0; 
  list-style:none; 
  list-style-image: none; 
}

small { font-size: 85%; }

strong, th { font-weight: bold; }

.ie7 img { -ms-interpolation-mode: bicubic; }

td { vertical-align: top; }

sub, sup { 
  font-size: 75%; 
  line-height: 0; 
  position: relative; 
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre {
  white-space: pre; 
  white-space: pre-wrap; 
  word-wrap: break-word;
}


/* Forms */

select, input, textarea, button { font: 99% sans-serif; }

textarea { overflow: auto; }

.ie6 legend, .ie7 legend { margin-left: -7px; } 

input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.ie6 input { vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], 
input[type="image"], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }

button {  width: auto; overflow: visible; }

input:valid, textarea:valid {}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px #F00; 
  -webkit-box-shadow: 0px 0px 5px #F00; 
  box-shadow: 0px 0px 5px #F00;
}

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { 
  background-color: #F0DDDD; 
}


/* Selection & links */

::-moz-selection { 
  background: #FFF7D6; 
  text-shadow: none; 
  color: #222; 
}

::selection { 
  background: #FFF7D6;
  text-shadow: none;
  color: #222;
}

a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }

a:hover { color: #036; }

a:link { -webkit-tap-highlight-color: #DDD; }


/* Non-semantic */

.ir { 
  display: block; 
  text-indent: -999em; 
  overflow: hidden; 
  background-repeat: no-repeat; 
  text-align: left; 
  direction: ltr; 
}

.hidden { display: none; visibility: hidden; }

.visuallyhidden { 
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px; 
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { 
  clip: auto; 
  height: auto; 
  margin: 0; 
  overflow: visible; 
  position: static; 
  width: auto; 
}

.invisible { visibility: hidden; }


/* Clearfix */

.clearfix:before, .clearfix:after { 
  content: "\0020"; 
  display: block; 
  height: 0; 
  overflow: hidden; 
}

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }

