
#heading {
  background: #3f4136;  
  color: #FFF;
  overflow: hidden;
  padding: 1.5em;
}

#heading a {
  color: #FFF;
}

#heading #site-title {
  float: left;
  font-size: 1.4em;
}

#heading #share {
  float: right;
}

#content {
  width: 100%;
}

