
#heading {
  background: #3f4136;  
  color: #FFF;
  overflow: hidden;
  padding: 1.5em;
}

#heading a {
  color: #FFF;
}

#heading #site-title {
  float: left;
  font-size: 1.4em;
}

#heading #share {
  float: right;
}

#main  {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
 left: 300px;
}

#plots {
  position: absolute;
  top: 0;
  bottom: 74px;
  width: 264px;
  background-color: #e3edcf;
  overflow: auto;
  padding: 18px;
}

.plot {
  background-color: #FFF;

}

#download {
  position: absolute;
  bottom: 0;
  height: 56px;
  width: 300px;
  background-color: #CCC;
}

#download p {
  text-align: center;
  margin: 1.5em 0;
}

#download a {
  background-color: #FFF;
  padding: 0.8em 2em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#plots::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

#plots::-webkit-scrollbar-button:start:decrement, pre::-webkit-scrollbar-button:end:increment {
  display: none;
}

#plots::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 3px;
}

#plots::-webkit-scrollbar-thumb:vertical {
  background: #3b3c33;
  -webkit-border-radius: 3px;
  width: 25px;
}

#contentinfo {
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

}

#contentinfo p {
  float: right;
  padding: 0.72em 1.5em;
  background: #3b3c33;
  color: #FFF;
}
