<div id="new-plot">
  <form>
    <h1>Añadir nueva parcelaca</h1>

    <fieldset id="plate">
      <input type="text" placeholder="Municipio" name="municipality">
      <span>-</span>
      <input type="text" placeholder="Pol." name="polygon_id">
      <span>-</span>
      <input type="text" placeholder="Parcela" name="plot_id">
    </fieldset>

    <input type="submit" id="search" name="search" value="Buscar">
  </form>
</div>

