<div id="new-plot">
  <form>
    <h1>Añadir nueva parcelaca</h1>

    <fieldset id="plate">
      <input type="text" placeholder="Ej. Valladolid" name="municipality" id="municipality">
      <span>-</span>
      <input type="text" placeholder="0000" name="polygon_id" id="polygon_id">
      <span>-</span>
      <input type="text" placeholder="0000" name="plot_id" id="plot-id">
    </fieldset>

    <input type="submit" id="search" name="search" value="Buscar">
  </form>
</div>

