<div id="new-plot">
  <form>
    <h1>Añadir parcelaca</h1>
    <p>Busca por localidad, parcela y polígono.</p>

    <fieldset id="plate">
      <input type="text" placeholder="Ej. Alaejos, VA" name="municipality" id="municipality"> 
      <span>-</span>
      <input type="text" placeholder="0000" maxlength="4" name="population" id="population"> 
      <span>-</span>
      <input type="text" placeholder="0000" maxlength="4" name="plot_id" id="plot-id">
    </fieldset>

    <input type="submit" id="search" name="search" value="»">
  </form>
</div>

