<div id="splitpane">
  <form>
    <h1>Añadir nueva parcelaca</h1>

    <div id="plot_plate">
      <input type="text" name="municipality" /> <span>-</span>
      <input type="text" name="population" /> <span>-</span>
      <input type="text" name="plot_id" />
    </div>

    <input type="submit" name="search" value="Buscar" />
  </form>

  <ul id="plots">
    <li>
    <h1>La Morenaza</h1>
    <ul>
      <li>Zona 1 <div class=""></div></li>
      <li>Zona 2 <div class=""></div></li>
      <li>Zona 3 <div class=""></div></li>
    </ul>
    </li>

  </ul>

</div>
