<form>
  <h1>Añadir nueva parcelaca</h1>

  <div id="plot_plate">
    <input type="text" placeholder="Municipio" name="municipality" /> <span>-</span>
    <input type="text" placeholder="Pol." name="population" /> <span>-</span>
    <input type="text" placeholder="Parcela" name="plot_id" />
  </div>

  <input type="submit" name="search" value="Buscar" />
</form>

<ul id="plots">
  <li>
  <h1>La Morenaza</h1>
  <ul>
    <li>Zona 1 <div class=""></div></li>
    <li>Zona 2 <div class=""></div></li>
    <li>Zona 3 <div class=""></div></li>
  </ul>
  </li>
</ul>

<a href="#" id="download">Descargar shp</a>
